.p-1{
  color: #7FA9F7;
}
.vl {
  border-left: 1px solid #7FA9F7;
  height: 15px;
}
.img-responsive{
  padding-left: 0.5rem;
}

::selection {
  color: white;
  background: black;
}
img{
  filter:grayscale(40%)
}
.collapse img{
  transition: transform .2s;
}
.collapse img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05); 
  box-shadow: 0px 0px 10px grey;
  border-radius: 5px;
  /*border:1px solid black;*/
  filter:grayscale(20%)
}
.carousel-indicators li{
  border-radius: 50 !important;
  width: 20px;
  height: 20px;
}
.nav-link{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}


#nav-icon {
  width: 26px;
  height: 20px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: rgb(58, 58, 58);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 0px
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 19px;
  left: 0px
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transition: .5s ease;
  background-color: #7FA9F7;
}
.img-effect:hover .overlay{
  opacity:0;
}



.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}



@media (min-width:992px ){
  #logo_hand{
    display: inline-block !important;
  }
  #logo_hand_horizontal{
    display: none !important
  }
}
#logo_hand{
  display: none;
}

@media (min-width: 992px){
    .border-blue{
      border-right:.5rem solid #7fa9f7;
    }
    .border-blue2{
      border-left:.5rem solid #7fa9f7;
    }
}
.pointer{
      position: absolute;
      top:auto;
      left:50%;
      transform: translate(-50%,-50%);
     
    }
    .pointer span{
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;
    }
    .pointer span:nth-child(2){
      animation-delay: -0.2s;
    }
    .pointer span:nth-child(3){
      animation-delay: -0.4s;
    }
    @keyframes animate{
      0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
      }
    }


.blackandwhite{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.circle {
  position: relative;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  padding-top: auto;
  background: white;
  border: 5px solid #7FA9F7;
}
@media only screen and (max-width:380px){
  .circle{
    height: 350px;
    width: 350px;
  }
}
@media only screen and (max-width:300px){
  .circle{
    height: 250px;
    width: 250px;
  }
}

.circlecontent{
  border-radius: 50%;
  position: absolute;
  width: inherit;
  height: auto;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;

}


.tombol{
  background-color: #fafafa;
  border: none;
  color: black;
  /*padding: 15px 32px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
  height: 25px;
}

hr.new5 {
  width:315px;
  border: 2px solid #7fa9f7;
  border-radius: 5px;
}          

.bg-blue{
  background-color: #1c4587;
}

#founder{
  visibility: visible;
  overflow: hidden;
  transform: translate3d(0px, 0px, 0px); 
  height: auto;
  min-height: 20rem;
  width: 100%;
  background: linear-gradient(to bottom,rgba(77, 77, 77, 0.3) 0, rgba(22,22,22,.7) 85%,#242424 100%), url(../assets/img/Snapseed.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  transition: all 0.5s ease;
  padding: 1rem;
  /*-webkit-filter:blur(5px);*/

}

#founder:hover{
  -ms-transform: scale(1.025); /* IE 9 */
  -webkit-transform: scale(1.025); /* Safari 3-8 */
  /*-webkit-filter:blur(0px);*/
  background: url(../assets/img/Snapseed.jpg);
  filter: grayscale(10%);
  border-radius: 5px;
  box-shadow: 0px 0px 10px grey;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  z-index: 1;
}

.founder-text{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
@media (max-width: 992px){
  .founder-text{
    bottom: .5rem;
    font-size: 90%;
  }
  .founder-quotes h5{
    font-size: 90%;
  }

}


/* GRID SECTION CSS */

#decoration-border{
  border-right: 5.rem solid #7FA9F7;
}


#vision-mission{
  max-height: 35rem;
  overflow-y: hidden;
}
.white-border{
  border-color: #fff !important;
  width: 50% !important;
}
.about-text{
  padding:3rem;
  font-size: 90%;
}
.about-text2{
  padding:5rem;
  font-size: 150%;
  /*font-weight: bold;*/
}
@media only screen and (max-width: 380px){
  .circlecontent{
    padding:2rem;
    font-size: 100%;
  }
}
@media(min-width:1200px)
{
  .about-text{
    padding: 5rem;
    font-size: 90%;
  }
}

@media (max-width: 992px){
  .founder-text{
    bottom: .5rem;
    font-size: 90%;
  }
  .founder-quotes h5{
    font-size: 90%;
  }
  
}

.section-dark{
  background-color: #ececec;
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-visionmission{
  background-image: url(../assets/img/bg-vision.jpg);
  background-size: cover;
  filter: grayscale(40%);
  background-position: center;
  background-attachment: fixed;
}